{{ partial "header.html" . }}
<script src="{{ "js/siema.min.js" | absURL }}"></script>
<section id="slider" class="siema">
  {{ range .Params.slides }}
  <div class="flex items-stretch items-center flex-wrap">
    <div class="w-100">
      <div class="aspect-ratio aspect-ratio--3x1">
        <div class="aspect-ratio--object z-1 bg-center cover" style="background-image: url(' {{ (trim .image "/") | absURL }}')"></div>
      </div>
    </div>
  </div>
  {{ end }}
</section>
<div class="bg-green" style="height: 0.5em;"></div>
<section class="pv5 bg-light-green ph3 ph4-m ph5-l">
  <h2 class="f1 f1-ns w-100 f1 tc black mt0">About Us</h2>
  {{ partial "separator.html" . }}
  <div class="w-90 w-70-ns tc center f4 tj dark-gray">
    {{.Content}}
    <div class="tc">
      <a href="/about" class="link ba b--dark-red bg-white ph2 pv2 br2 dark-red hover-bg-dark-red hover-white bw1 dib mv2 mx-auto">Read More</a>
    </div>
  </div>
</section>
<section class="pv5">
  <h2 class="f1 f1-ns w-100 f1 tc black mt0">Products</h2>
  {{ partial "separator.html" . }}
  {{ partial "home_brand_categories.html" . }}
  <div class="tc">
    <a href="/brands" class="link bg-orange ph4 pv1 br2 white hover-bg-dark-orange dib mt4 mb2 f3 f2-ns" data-aos="zoom-in">View All Products</a>
  </div>
</section>


<!-- <section class="pv5 ph3 ph4-m ph6-l">
  <h2 class="f2 f1-ns w-100 f1 tc black ttu mt0">Products</h2>

  {{ partial "home_brand_categories_sample.html" . }}
</section> -->

{{ partial "footer.html" . }}
<script>
if(siema_interval){
clearInterval(siema_interval)
}
var mySiema=new Siema({duration:250,loop:true,});
var siema_interval = setInterval(()=>mySiema.next(),5000)
</script>
