{{/* Get the current page's URL so we can compare it to the list below */}}
{{ $currentPageUrl := .URL }}
{{/* Get a list of this section's other pages. "RegularPages" excludes the list page    */}}
{{ $currentSection := (where .Site.RegularPages "Section" "brands") }}
{{/* Get the number of entries of  $currentSection and subtract 1 */}}
{{ $i := sub ($currentSection | len) 1 }}
{{/* So we can only show this menu if there are one or more other entries  */}}
{{ if ge $i 1 }}
{{ range $index, $e := (first 3 $currentSection) }}
{{ if eq (mod $index 2) 0 }}
<article class="bg-green br2" data-aos="flip-left">
{{ else }}
<article class="bg-blue br2" data-aos="flip-right">
{{ end }}
  <div class=" flex items-center items-stretch">
    {{ if eq (mod $index 2) 0 }}
    <div class="w-70 product-on-home-page bg-near-white flex flex-column justify-center bg-center cover" style="background-image: url(' {{ (trim $e.Params.creative_image "/") | absURL }}')">
      <div class="bg-black-50 pv3 measure white">
        <div class="f2 mt0 lh-title tl b ph5 white bb b--red pb3 mb3 bw2 heading-font"> {{ $e.Title }}</div>
        <div class="content measure ph5 pb2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fugit debitis quis earum sunt voluptatibus molestias, excepturi nemo culpa est explicabo similique praesentium nulla at quibusdam, non cumque placeat quam.
        </div>
        <div class="mv2 ph5">
          <a href="{{ $e.URL }}" class="bg-red br2 white ph2 pv1 f6 link dib hover-bg-dark-red">Read More</a>
        </div>
      </div>
    </div>
    <div class="w-30 pv6 ph5">
      <div class="aspect-ratio aspect-ratio--16x9">
        <div class="aspect-ratio--object cover bg-center z-0" style="background-image: url('{{ ( trim $e.Params.featured_image "/" ) | absURL}}'); "></div>
      </div>
    </div>
    {{ else }}
    <div class="w-30 pv6 ph5">
      <div class="aspect-ratio aspect-ratio--16x9">
        <div class="aspect-ratio--object cover bg-center z-0" style="background-image: url('{{ ( trim $e.Params.featured_image "/" ) | absURL}}'); "></div>
      </div>
    </div>
    <div class="w-70 product-on-home-page-right bg-white flex flex-column justify-center bg-center cover" style="background-image: url(' {{ (trim $e.Params.creative_image "/") | absURL }}')">
      <div class="bg-black-50 pv3 measure ml-auto white tr">
        <div class="f2 mt0 lh-title tl b ph5 tr bb b--red pb3 mb3 bw2 heading-font" style=""> {{ $e.Title }}</div>
        <div class="content measure ph5 tr ml-auto pb2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fugit debitis quis earum sunt voluptatibus molestias, excepturi nemo culpa est explicabo similique praesentium nulla at quibusdam, non cumque placeat quam.
        </div>
        <div class="mv2 ph5">
          <a href="{{ $e.URL }}" class="bg-red br2 white ph2 pv1 f6 link dib hover-bg-dark-red">Read More</a>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</article>
{{ end }}
{{ end }}
